 @import "~@blueprintjs/core/lib/css/blueprint.css";
 @import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

 .theComponent {
 	width: 450px;
 	margin: auto;
 	text-align: left;
 }

 .bp3-dark {
 	width: 450px;
 	margin: auto;
 	text-align: left;
 }

#name-input {
	width: 325px;
}

.submit {
	margin: auto;
	text-align: center;
	width:410px;
}

/*.nameCheckButton {
	width
}*/