 @import "~@blueprintjs/core/lib/css/blueprint.css";
 @import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

 $input-width: 300px;

.card-includePeriod {
	margin-bottom: 15px;
}

.bp3-dark {
	margin: auto;
	text-align: left;
}

.selection-button {
	margin: 0;
	width: $input-width - 75px !important;
}

.standard-input {
	width: $input-width !important;
}

.submit {
	margin: auto;
	text-align: center;
	width: $input-width;
}

.submit-button {
	width: $input-width;
}

.theComponent {
	width: $input-width + 50px;
	text-align: left;
	margin-top: 5px;
}


.wrapper {
	width: $input-width + 50px;
	text-align: left;
	margin-top: 5px;
}

