 @import "~@blueprintjs/core/lib/css/blueprint.css";
 @import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

.thisComponent {
 	text-align: left;
 	width: 400px;
 }

 .validCheck {
 	text-align: center;
 }

 #category-input {
 	width: 325px;
 }

 #nameInput {
 	width: 325px;
 }