.itemBars-container {
	display: flex;
	flex-direction: column;
	width: 70%;
/*	background-color: DodgerBlue;*/
}

.set {
	margin-top: 2px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.setName-container {
	display: flex;
	flex-direction: row;
/*	background-color: green;*/
	width: 30%;
	justify-content: center;
	align-items: center;
}